<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${course.title + ' - Course Details'}">Course Details</title>
    <link rel="stylesheet" th:href="@{/css/detailPage.css}" />
</head>
<body>
<div layout:fragment="body" class="content">
    <div  id="successHomeworkCreated" th:if="${param.successHomeworkCreated}" class="alert alert-success">
        Homework was successfully created
    </div>
    <div class="container py-5">
        <div class="course-detail">

            <h1 class="mb-4" th:text="${course.title}">Course Title</h1>
            <div class="course-info">
                <p><strong>Description:</strong> <span th:text="${course.description != null ? course.description : 'Not specified'}">Description</span></p>
                <p th:if="${user == null or !course.getInvolvedUserIds().contains(user.getId())}"><strong>Price:</strong> <span th:text="${course.price != null ? '$' + course.price : 'Not specified'}">Price</span></p>
                <p><strong>Language:</strong> <span th:text="${course.language != null ? course.language : 'Not specified'}">Language</span></p>
                <p><strong>Format:</strong> <span th:text="${course.format != null ? course.format : 'Not specified'}">Format</span></p>
                <p><strong>Creation Date:</strong> <span th:text="${course.creationDate != null ? course.creationDate : 'Not specified'}">Creation Date</span></p>
                <p><strong>End Date:</strong> <span th:text="${course.endDate != null ? course.endDate : 'Not specified'}">End Date</span></p>
                <p th:if="${user != null and course.getInvolvedUserIds().contains(user.getId())}"><strong>Chat ID:</strong> <span th:text="${course.chatId != null ? course.chatId : 'Not specified'}">Chat ID</span></p>
            </div>

            <div class="author-info">
                <h3>Author Information</h3>
                <p><strong>Username:</strong> <span th:text="${courseAuthor.username}">Author Username</span></p>
                <p><strong>Registration Date:</strong> <span th:text="${courseAuthor.registrationDate}">Registration Date</span></p>
                <a th:if="${user != null and user.getId() != courseAuthor.getId()}" th:href="@{/chats/findOrCreateChat(secondUserId=${courseAuthor.id})}" class="btn-chat">Chat with Author</a>
            </div>

            <div th:if="${course.tags != null and !course.tags.isEmpty()}" class="mt-4">
                <h3 class="section-title">Tags</h3>
                <div th:each="tag : ${course.tags}" class="tag" th:text="${tag}">Tag</div>
            </div>

            <div th:if="${user != null and (course.getInvolvedUserIds().contains(user.getId()) or course.getAuthorId().equals(user.getId()))}">
                <h3 class="section-title">Users</h3>
                <div th:if="${involvedUsers == null or involvedUsers.isEmpty()}" class="alert alert-success">
                    There are no users in this course yet
                </div>

                <div th:if="${involvedUsers != null and !involvedUsers.isEmpty()}" class="mt-4">
                    <ul class="list-group">
                        <li th:each="User : ${involvedUsers}" class="list-group-item">
                            <span th:if="${User.username == user.username}" th:text="'you'">You</span>
                            <span th:if="${User.username != user.username}" th:text="${User.username}">User</span>
                            <a th:href="@{/chats/findOrCreateChat(secondUserId=${courseAuthor.id})}" class="btn-chat"> chat</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card-footer text-center"
                 th:if="${user != null and courseAuthor != null and
             (course.authorId == user.id or course.involvedUserIds.contains(user.id)) and user.id != courseAuthor.id}">
                <a th:href="@{/chats/{chatId}(chatId=${course.chatId})}">Button</a>
            </div>

            <div class="mt-5">
                <h3 class="section-title">Attachments</h3>
                <div class="row" style="margin-right: 5px">
                    <div th:if="${course == null || course.getAttachments().?[accessType == 'course'].empty}" class="alert alert-info" style="margin-top: 5px;margin-left: 5px">
                        No attachments available
                    </div>
                    <div th:if="${course != null && !course.getAttachments().?[accessType == 'course'].empty}" th:each="file : ${course.getAttachments()}" class="col-md-6 mb-3">
                        <div class="card h-100 shadow-sm attachment-card" th:if="${file.accessType == 'course'}">
                            <div th:if="${file != null}">
                                <img th:if="${file.fileType.startsWith('image/')}" th:src="${file.viewUrl}" class="card-img-top" th:alt="${file.fileName}" style="object-fit: cover; height: 200px;">
                                <div class="card-body" th:unless="${file.fileType.startsWith('image/')}">
                                    <h5 class="card-title" th:text="${file.fileName}">File Name</h5>
                                    <p class="card-text">Creator: <span th:text="${file.creator}">Creator Name</span></p>
                                    <p class="card-text">Time: <small class="text-muted" th:text="${file.timestamp}">Timestamp</small></p>
                                </div>
                                <div class="card-footer text-center">
                                    <a th:href="@{/files/view/{fileId}(fileId=${file.id})}" class="btn btn-custom me-2">View</a>
                                    <a th:href="@{/files/download/{fileId}(fileId=${file.id})}" class="btn btn-custom">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4" th:if="${user != null and course.getAuthorId().equals(user.getId())}">
                <a th:if="${involvedUsers != null and !involvedUsers.isEmpty()}" th:href="@{/homeworks/create/course/{courseId}(courseId=${course.getId()})}" class="btn-create-homework">
                    Create Homework
                </a>
                <strong th:if="${involvedUsers == null or involvedUsers.isEmpty()}">* Can create homeworks , only when there are users in course</strong>
            </div>
        </div>

        <input type="hidden" id="coursePasswordHidden" th:value="${course.coursePassword}" />
        <input type="hidden" id="courseTypeHidden" th:value="${course.courseType}" />

        <!-- Window for entering password -->
        <div id="passwordModal" class="modal">
            <div class="modal-content">
                <h3>Enter Password</h3>
                <input type="password" id="coursePassword" class="form-control mb-3" placeholder="Пароль">
                <button onclick="validatePassword()" class="btn btn-primary">Confirm</button>
                <button onclick="closeModal()" class="btn btn-secondary">Cancel</button>
            </div>
        </div>

        <div class="action-buttons" th:if="${user != null and !course.getAuthorId().equals(user.getId())}">
            <form id="joinForm" th:if="${!user.getParticipatingCourses().contains(course.getId())}" th:action="@{/courses/{courseId}/join(courseId=${course.getId()})}" method="post" style="display: inline-block; margin-right: 10px;">
                <input type="hidden" name="courseId" th:value="${course.getId()}" />
                <input type="hidden" id="passwordInput" name="password" />
                <button type="button" class="btn-action btn-join" onclick="handleJoin()">Join Course</button>
            </form>
            <form th:if="${user.getParticipatingCourses().contains(course.getId())}" th:action="@{/courses/{courseId}/leave(courseId=${course.getId()})}" method="post" style="display: inline-block;">
                <input type="hidden" name="courseId" th:value="${course.id}" />
                <button type="submit" class="btn-action btn-leave">Leave Course</button>
            </form>
        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var courseType = /*[[${course.courseType}]]*/ 'PUBLIC';

            function handleJoin() {
                console.log("Course type:", courseType);
                if (courseType === 'PRIVATE') {
                    // If the course is private, display the modal for password input
                    document.getElementById('passwordModal').style.display = 'block';
                } else {
                    // If the course is public, submit the join form directly
                    document.getElementById('joinForm').submit();
                }
            }

            function validatePassword() {
                var enteredPassword = document.getElementById('coursePassword').value;
                var correctPassword = document.getElementById('coursePasswordHidden').value;

                console.log("Entered password:", enteredPassword);
                console.log("Correct password:", correctPassword);

                if (enteredPassword === correctPassword) {
                    document.getElementById('passwordInput').value = enteredPassword;
                    document.getElementById('joinForm').submit();
                } else {
                    alert('Incorrect password');
                }
            }

            function closeModal() {
                // Close the password modal
                document.getElementById('passwordModal').style.display = 'none';
            }

            document.addEventListener('DOMContentLoaded', function() {
                hideAlertAfterDelay('successHomeworkCreated');
            });
            /*]]>*/
        </script>
    </div>
</div>
</body>
</html>