<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www/thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Main Page - Courses</title>
    <link rel="stylesheet" th:href="@{/css/mainPage.css}" />
</head>
<body>
<div layout:fragment="body" class="container">
    <div id="notAllowedMessage" th:if="${param.notAllowed}" class="alert alert-danger">
        You are not allowed to do this operation.
    </div>
    <div id="error" th:if="${param.error}" class="alert alert-danger">
        An error occurred.
    </div>
    <form id="searchForm" class="search-form" action="/courses/findCourses" method="get">
        <select id="searchType" name="type">
            <option value="title">Search by Title</option>
            <option value="identifier">Search by Identifier</option>
        </select>
        <input type="text" name="searchBar" placeholder="Enter search term" th:value="${param.searchBar}">
        <button type="submit">Search</button>
    </form>

    <h1>Available Courses</h1>
    <div th:if="${courses == null or courses.isEmpty()}" class="alert alert-success">
        Course list is empty
    </div>
    <div th:if="${courses != null and !courses.isEmpty()}" class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" style="width: 100%;max-height: 800px; overflow-y: auto;">
        <div class="col" th:each="course : ${courses}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${course.title}">Course Title</h5>
                    <p class="card-text">
                        <strong>Created:</strong> <span th:text="${course.creationDate}">Creation Date</span>
                    </p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/courses/{id}(id=${course.id})}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            hideAlertAfterDelay('notAllowedMessage');
            hideAlertAfterDelay('error');

            // Get the search type from URL or localStorage
            var searchType = new URLSearchParams(window.location.search).get('type') || localStorage.getItem('searchType') || 'title';

            // Set the selected option
            document.getElementById('searchType').value = searchType;

            // Save the search type when form is submitted
            document.getElementById('searchForm').addEventListener('submit', function() {
                var selectedType = document.getElementById('searchType').value;
                localStorage.setItem('searchType', selectedType);
            });
        });

    </script>
</div>
</body>
</html>